* {
    box-sizing: border-box;
}

img {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 249, 241);
}



.canvas-container {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
}



.edit{
    display: flex;
    justify-content: center;
gap: 10px;
margin: 0 auto;
}

